body, html {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f0f0f0;
}

header, footer {
  background: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

nav a {
  margin: 0 1em;
  color: #fff;
  text-decoration: none;
}

main {
  padding: 1em;
}

#unity-container {
  width: 99%;
  height: 75vh;
  margin: auto;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#unity-canvas {
    width: 99%;
    height: 99%;
    display: block;
}
